$guideColor:  #d3682d;
$guide:       #414850;


// $red:         #dc0311;
$red:         Crimson;

// $orange:      #e87420;
$orange:      OrangeRed;

// $yellow:      #d0c422;
$yellow:      Gold;

// $green:       #5adc34;
$green:       MediumSeaGreen;

// $blue:        #1a34d3;
$blue:        LightSkyBlue;

$indigo:      #4a20ad;
$violet:      #9767d3;


// more listed on: http://www.w3schools.com/cssref/css_colornames.asp
// Chocolate
// Bisque
// Orchid
// SlateGrey
// Linen
// MediumSeaGreen
// Maroon
// GreenYellow 
// PaleGoldenRod 
// PaleGreen
// LightSkyBlue 